body{
  font-family: 'Oswald', sans-serif;
  background-color: rgb(163, 193, 255);

  
}

#body{
  min-height: 100vh;
}
/* reset selector de etiquetas universal, selecciona todo */


*{
  margin: 0;
  padding: 0;

}


/* selector de grupo */
h1,h2,h3{
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

/* selector de etiquetas */
h1{
  font-size: 4em;
}

.p{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}


h2{
    font-size: 2.5em;
    margin: 20px auto;
}

h3{
    font-size: 1.5em;
}
 nav a img{
  width: 80px;
 }

 nav{
  font-weight: 600;
  font-size: 20px;
 }

 #colorNav{
  background-color: rgba(12, 87, 238, 0.501);
 }

footer{
  background-color: rgba(12, 87, 238, 0.501);
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

footer ul{
  width: 10%;
  list-style: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  justify-content: space-between;

  

}
footer ul li{
  margin: 0%;
  padding: 0%;

}

footer ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  filter: brightness(80%);

}
footer ul li a:hover{
  filter: brightness(100%);
}

section p{
    font-size: 1em;
    outline: height 1.6em;
    font-family: 'Roboto', sans-serif;
}        

  /* selectores de clases */
  .textDestacado{
    background-color: rgba(255, 252, 0, .4);
  }
  .textCenter{
    text-align: center;
  }
  .textRight{
    text-align: right;
  }
  .textLeft{
    text-align: left;
  }
  .textWhite{
    color:rgb(242, 242, 242);
  }
  .bgBlue{
    background-color: rgb(15, 47, 122);
  }
  .bgDark{
    background-color: rgb(101, 101, 101);
  }
  .bgGray{
    background-color: rgba(195, 190, 190, .8);
  }
  .textBold{
    font-weight: 600;
  }


  /* clases bem */
  .anuncio__box--white{
    text-align: center;
    background-color: rgb(15, 47, 122);
    /* padding */
  padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .encabezado__img--fluid{
    /* size */
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position:start ;
  }
  .pMain{
    width: 80%;
    margin: 0 auto;
  }
  .tarjeta{
    width: 80%;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding-bottom: 30px;
     
  }
  .tarjeta img{
    width: 80%;
    height: 50vh;
    border-radius: 30px;
  }
  
  .tarjeta p{
    width: 80%;
    margin: 20px auto;
    text-align: justify;
  }

  .novedades__titulo--xxl{
    font-size: 4rem;
  }

  .novedades__titulo--xl{
    font-size: 3rem;
  }

  .novedades__titulo--md{
    font-size: 2rem;
  }

  /* box model - widht - height - margin - padding - border */
  /* overflow */
  .novedades__articulo{
    width: 80%;
    height: auto;
    /* margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 50px; */
    /* margin: 40px; */
    /* margin: 100px 50px 30px 20px; */
    margin: 70px auto;
    /* padding: 50px; */
    /* padding: 50px 20px 40px 20px; */
    padding: 30px 50px;
    border:dotted deeppink 3px;
    /* overflow-x: visible;
    overflow-y: auto; */

  }
  .pie{
    text-align: center;
    padding: 6px 0;
  }

  .img__size--L{
    width: 500px;
    padding: 0px 700px;
    margin: 70px 0  ;
  }

  .pie__icon--sm{
    width: 35px;
  }


  form{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: auto;
    align-items: center;
    gap: 10px;
    padding: 30px;

    justify-content: center;
  }

  form textarea{
    grid-column: 1 /span 3;
  }

  form .boton{
    grid-column: 2/span 1;

  }
  form .boton:hover{
    background-color: rgb(141, 163, 251);
  }

  form input, form textarea{
  padding: 20px;
  }
  

  @media (max-width:780px){
    form{
      grid-template-columns: 100%;


    }
    form input, form text-area{
      grid-column: 1/span 3;
    
    }
  form .boton{
    grid-column: 1/span 3;
  }

  }

